body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0b0f14;
  color: white;
  text-align: center;
}

.hero {
  padding: 40px 20px;
   text-align: center;
   margin-bottom: 50px;
}

.hero h1 {
  font-size: 100px;
  margin-bottom: 4px;
}


.hero p {
  font-size: 40px;
  margin-bottom: 40px;
}

.hero button {
  padding: 12px 25px;
  background: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-size: 30px;
}

.section h2{
  font-size: 30px;
  margin-bottom: 60px;
}


img{
  width: 350px;
  height: 350px;

}

.cards {
  display: flex;         
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;

}

.card{
  width: 22%;
}

.section h3{
  font-size: 25px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #0b0f14;
  margin-top: 10px;
}

.nav-left img{
  height: 100px;             
  width: 100px;
  object-fit: contain;
}

.nav-links{
  align-items: center;
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  align-items: center;
  
}

.nav-links li a:hover{
  color: #1da1f2;
}

.slider {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin: 40px auto;
}

.slides {
  display: flex;
  width: 500%;
  animation: slide 30s linear infinite;
}

.slides img {
  width: 300%;
  height: 1100px;
  object-fit: fill;
 
}


@keyframes slide {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(-100%); }
  40%  { transform: translateX(-200%); }
  60%  { transform: translateX(-300%); }
  80%  { transform: translateX(-400%); }
  100% { transform: translateX(0); }
}
